@model KHCharacterEdit.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Ability Points")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbilityPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ability)
        </dt>

        <dd>
            @if (Model.Ability != null) //Confere se há uma Ability vinculada ao Accessory
            { //Gera link de acesso direto à View Details da Ability vinculada
                @Html.ActionLink(Model.Ability.Name, "Details", "Ability", new { id = Model.Ability.ID }, Html.DisplayFor(modelItem => Model.Ability))
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
