@model KHCharacterEdit.Models.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weapon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weapon.Name)
        </dd>

        <dt>
            @Html.DisplayName("Armor Slots")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmorSlots)
        </dd>

        <dt>
            @Html.DisplayName("Accessory Slots")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessorySlots)
        </dd>

        <dt>
            @Html.DisplayName("Weapon Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeaponType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Armors)
        </dt>

        @if (Model.Armors != null)
        {
            foreach (var item in Model.Armors)
            {
                <dd>
                    @Html.ActionLink(item.Name, "Details", "Armor", new { id = item.ID }, Html.DisplayFor(modelItem => item))
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Accessories)
        </dt>

        @if (Model.Accessories != null)
        {
            foreach (var item in Model.Accessories)
            {
                <dd>
                    @Html.ActionLink(item.Name, "Details", "Accessory", new { id = item.ID }, Html.DisplayFor(modelItem => item))
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Abilities)
        </dt>

        @if (Model.Abilities != null)
        {
            foreach (var item in Model.Abilities)
            {
                <dd>
                    @Html.ActionLink(item.Name, "Details", "Ability", new { id = item.ID }, Html.DisplayFor(modelItem => item))
                </dd>
            }
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
