@model IEnumerable<KHCharacterEdit.Models.Character>

@{
    ViewBag.Title = "Characters";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weapon)
        </th>
        <th>
            @Html.DisplayName("Armor Slots")
        </th>
        <th>
            @Html.DisplayName("Accessory Slots")
        </th>
        <th>
            @Html.DisplayName("Ability Slots")
        </th>
        <th>
            @Html.DisplayName("Weapon Type")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weapon.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmorSlots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessorySlots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbilitySlots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
