@{
    ViewBag.Title = "Home";
}

<div class="jumbotron bg-jumbotron">
    <h1>&nbsp;</h1>
    <p class="lead jumbotron-text">
        Kingdom Hearts II is a 2005 action role-playing game developed and published by Square Enix in collaboration
        with Buena Vista Games for the PlayStation 2 video game console. The game is a sequel to Kingdom Hearts, 
        and like the original game, combines characters and settings from Disney films with those of Square Enix's Final Fantasy series.
    </p>
    <p><a target="_blank" rel="noreferrer" href="https://en.wikipedia.org/wiki/Kingdom_Hearts_II" class="btn btn-primary btn-lg jumbotron-text">Learn more &raquo;</a></p>
</div>

<div class="row bg-buttons">
    <div class="char">
        <h1>
            <a class="btn btn-default btn-modified" @Html.ActionLink("CHARACTERS", "Index", "Character")></a>
        </h1>
    </div>
    <div class="attributes">
        <h4>
            <a class="btn btn-default btn-modified" @Html.ActionLink("WEAPONS", "Index", "Weapon")></a>
        </h4>
    </div>
    <div class="attributes">
        <h4>
            <a class="btn btn-default btn-modified" @Html.ActionLink("ARMORS", "Index", "Armor")></a>
        </h4>
    </div>
    <div class="attributes">
        <h4>
            <a class="btn btn-default btn-modified" @Html.ActionLink("ACCESSORIES", "Index", "Accessory")></a>
        </h4>
    </div>
    <div class="attributes">
        <h4>
            <a class="btn btn-default btn-modified" @Html.ActionLink("ABILITIES", "Index", "Ability")></a>
        </h4>
    </div>
</div>