@model KHCharacterEdit.Models.Armor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Armor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defense)
        </dd>

        <dt>
            @Html.DisplayName("Fire Resistance")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FireResistance)%
        </dd>

        <dt>
            @Html.DisplayName("Ice Resistance")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IceResistance)%
        </dd>

        <dt>
            @Html.DisplayName("Thunder Resistance")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThunderResistance)%
        </dd>

        <dt>
            @Html.DisplayName("Dark Resistance")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DarkResistance)%
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
