@model IEnumerable<KHCharacterEdit.Models.Armor>

@{
    ViewBag.Title = "Armors";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defense)
        </th>
        <th>
            @Html.DisplayName("Fire Resistance")
        </th>
        <th>
            @Html.DisplayName("Ice Resistance")
        </th>
        <th>
            @Html.DisplayName("Thunder Resistance")
        </th>
        <th>
            @Html.DisplayName("Dark Resistance")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FireResistance)%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IceResistance)%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThunderResistance)%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DarkResistance)%
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
