@model IEnumerable<KHCharacterEdit.Models.Armor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FireResistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IceResistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThunderResistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DarkResistance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Strength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FireResistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IceResistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThunderResistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DarkResistance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
