@model IEnumerable<KHCharacterEdit.Models.Weapon>

@{
    ViewBag.Title = "Weapons";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Strength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Magic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ability)
        </th>
        <th>
            @Html.DisplayName("Weapon Type")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magic)
            </td>
            <td>
                @if (item.Ability != null) //Confere se há uma Ability vinculada à Weapon
                { //Gera link de acesso direto à View Details da Ability vinculada
                    @Html.ActionLink(item.Ability.Name, "Details", "Ability", new { id = item.AbilityID }, Html.DisplayFor(modelItem => item.Ability))
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
